{
    "openapi": "3.0.0",
    "info": {
        "title": "Health Services Stack",
        "description": "The health services stack will bring a common set of protocols and APIs to allow delivery of health services to happen seamlessly across any set of health applications (EUA) and healthcare service providers. The stack has two entities and will offer a set of common interfaces ( unified health interfaces ) and a gateway ( Health Gateway ), that implements minimal aggregate functions.",
        "termsOfService": "http://catch.io/terms/",
        "contact": {
            "email": "uti@catch.io"
        },
        "version": "0.5"
    },
    "servers": [
        {
            "url": "https://uti.ths.io/v1"
        },
        {
            "url": "http://uti.ths.io/v1"
        }
    ],
    "paths": {
        "/search": {
            "post": {
                "tags": [
                    "Gateway App Interface API",
                    "Provider API"
                ],
                "requestBody": {
                    "description": "Search the HSPs for a matching set of doctorss",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "context": {
                                        "allOf": [
                                            {
                                                "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/core/schema/0.7.1/context.json"
                                            },
                                            {
                                                "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/healthcare/schema/0.5.0/header.json"
                                            }
                                        ]
                                    },
                                    "message": {
                                        "type": "object",
                                        "properties": {
                                            "intent": {
                                                "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/healthcare/schema/0.5.0/consultation_intent.json"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Returns a success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "context": {
                                            "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/healthcare/schema/0.5.0/context.json"
                                        },
                                        "message": {
                                            "type": "object",
                                            "properties": {
                                                "ack": {
                                                    "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/core/schema/0.7.1/ack.json"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/select": {
            "post": {
                "tags": [
                    "Gateway App Interface API",
                    "Provider API"
                ],
                "requestBody": {
                    "description": "Call to finalize the consultation",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "consultationservice": {
                                        "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/healthcare/schema/0.5.0/consultation_service.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returns a success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "context": {
                                            "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/core/schema/0.7.1/context.json"
                                        },
                                        "message": {
                                            "type": "object",
                                            "properties": {
                                                "ack": {
                                                    "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/core/schema/0.7.1/ack.json"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/update": {
            "post": {
                "tags": [
                    "Gateway App Interface API",
                    "Provider API"
                ],
                "requestBody": {
                    "description": "Call back function when the consultation was missed by HSP",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "context": {
                                        "allOf": [
                                            {
                                                "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/core/schema/0.7.1/context.json"
                                            },
                                            {
                                                "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/healthcare/schema/0.5.0/header.json"
                                            }
                                        ]
                                    },
                                    "message": {
                                        "type": "object",
                                        "properties": {
                                            "consultationservice": {
                                                "type": "array",
                                                "items": {
                                                    "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/healthcare/schema/0.5.0/consultation_service.json"
                                                }
                                            },
                                            "change": {
                                                "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/healthcare/schema/0.5.0/service_change.json"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Returns a success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "context": {
                                            "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/healthcare/schema/0.5.0/context.json"
                                        },
                                        "message": {
                                            "type": "object",
                                            "properties": {
                                                "ack": {
                                                    "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/core/schema/0.7.1/ack.json"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/confirm": {
            "post": {
                "tags": [
                    "Gateway App Interface API",
                    "Provider API"
                ],
                "requestBody": {
                    "description": "Call to finalize the consultation",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "context": {
                                        "allOf": [
                                            {
                                                "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/core/schema/0.7.1/context.json"
                                            },
                                            {
                                                "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/healthcare/schema/0.5.0/header.json"
                                            }
                                        ]
                                    },
                                    "message": {
                                        "message": {
                                            "type": "object",
                                            "properties": {
                                                "consultationservice": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/healthcare/schema/0.5.0/consultation_service.json"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Returns a success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "context": {
                                            "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/healthcare/schema/0.5.0/context.json"
                                        },
                                        "message": {
                                            "type": "object",
                                            "properties": {
                                                "ack": {
                                                    "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/core/schema/0.7.1/ack.json"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/add/clinicalnotes": {
            "post": {
                "tags": [
                    "Gateway App Interface API",
                    "Provider API"
                ],
                "requestBody": {
                    "description": "Submit clinical notes of the consultation. This has to be done prior to the start of the consultation",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "context": {
                                        "allOf": [
                                            {
                                                "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/core/schema/0.7.1/context.json"
                                            },
                                            {
                                                "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/healthcare/schema/0.5.0/header.json"
                                            }
                                        ]
                                    },
                                    "message": {
                                        "type": "object",
                                        "properties": {
                                            "notes": {
                                                "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/healthcare/schema/0.5.0/clinicalnotes.json"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Returns a success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "context": {
                                            "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/healthcare/schema/0.5.0/context.json"
                                        },
                                        "message": {
                                            "type": "object",
                                            "properties": {
                                                "ack": {
                                                    "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/core/schema/0.7.1/ack.json"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}