{
    "openapi": "3.0.0",
    "info": {
        "title": "Health Services Stack - Beckn App API",
        "description": "The health services stack will bring a common set of protocols and APIs to allow delivery of health services to happen seamlessly across any set of health applications (EUA) and healthcare service providers. The stack has two entities and will offer a set of common interfaces ( unified health interfaces ) and a gateway ( Health Gateway ), that implements minimal aggregate functions.",
        "termsOfService": "http://catch.io/terms/",
        "contact": {
            "email": "uti@catch.io"
        },
        "version": "0.5"
    },
    "servers": [
        {
            "url": "https://uti.ths.io/v1"
        },
        {
            "url": "http://uti.ths.io/v1"
        }
    ],
    "paths": {
        "/on_search": {
            "post": {
                "tags": [
                    "Beckn App API",
                    "Beckn Gateway Provider Interface API"
                ],
                "requestBody": {
                    "description": "Call back function when the search listing is prepared by the HSP or gateway",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "context": {
                                        "allOf": [
                                            {
                                                "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/core/schema/0.7.1/context.json"
                                            },
                                            {
                                                "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/healthcare/schema/0.5.0/header"
                                            }
                                        ]
                                    },
                                    "message": {
                                        "type": "object",
                                        "properties": {
                                            "services": {
                                                "type": "array",
                                                "items": {
                                                    "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/healthcare/schema/0.5.0/consultationservice"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Returns a success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "context": {
                                            "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/core/schema/0.7.1/context.json"
                                        },
                                        "message": {
                                            "type": "object",
                                            "properties": {
                                                "ack": {
                                                    "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/core/schema/0.7.1/ack.json"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/on_select": {
            "post": {
                "tags": [
                    "App APIs"
                ],
                "requestBody": {
                    "description": "Call back function when the consult request is confirmed by the HSP",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "context": {
                                        "allOf": [
                                            {
                                                "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/core/schema/0.7.1/context.json"
                                            },
                                            {
                                                "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/healthcare/schema/0.5.0/header"
                                            }
                                        ]
                                    },
                                    "message": {
                                        "type": "object",
                                        "properties": {
                                            "consultation_service": {
                                                "type": "array",
                                                "items": {
                                                    "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/healthcare/schema/0.5.0/consultation_service.json"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Returns a success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "context": {
                                            "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/core/schema/0.7.1/context.json"
                                        },
                                        "message": {
                                            "type": "object",
                                            "properties": {
                                                "ack": {
                                                    "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/core/schema/0.7.1/ack.json"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/on_confirm": {
            "post": {
                "tags": [
                    "App APIs"
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/Body4"
                },
                "responses": {
                    "200": {
                        "description": "Returns a success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "context": {
                                            "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/core/schema/0.7.1/context.json"
                                        },
                                        "message": {
                                            "type": "object",
                                            "properties": {
                                                "ack": {
                                                    "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/core/schema/0.7.1/ack.json"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/on_add/clinicalnotes": {
            "post": {
                "tags": [
                    "App APIs"
                ],
                "requestBody": {
                    "description": "Call back function when clinical notes has been accepted by the HSP",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "header": {
                                        "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/healthcare/schema/0.5.0/header"
                                    },
                                    "message": {
                                        "type": "object",
                                        "properties": {
                                            "ack": {
                                                "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/core/schema/0.7.1/ack.json"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Returns a success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "context": {
                                            "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/core/schema/0.7.1/context.json"
                                        },
                                        "message": {
                                            "type": "object",
                                            "properties": {
                                                "ack": {
                                                    "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/core/schema/0.7.1/ack.json"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/on_update/service": {
            "post": {
                "tags": [
                    "App APIs",
                    "Provider APIs"
                ],
                "requestBody": {
                    "description": "Call back function when the consultation was missed by HSP",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "context": {
                                        "allOf": [
                                            {
                                                "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/core/schema/0.7.1/context.json"
                                            },
                                            {
                                                "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/healthcare/schema/0.5.0/header.json"
                                            }
                                        ]
                                    },
                                    "message": {
                                        "type": "object",
                                        "properties": {
                                            "consultationservice": {
                                                "type": "array",
                                                "items": {
                                                    "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/healthcare/schema/0.5.0/consultation_service.json"
                                                }
                                            },
                                            "change": {
                                                "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/healthcare/schema/0.5.0/service_change.json"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Returns a success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "context": {
                                            "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/core/schema/0.7.1/context.json"
                                        },
                                        "message": {
                                            "type": "object",
                                            "properties": {
                                                "ack": {
                                                    "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/core/schema/0.7.1/ack.json"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}