{
    "openapi": "3.0.0",
    "info": {
        "title": "Health Services Stack",
        "description": "The health services stack will bring a common set of protocols and APIs to allow delivery of health services to happen seamlessly across any set of health applications (EUA) and healthcare service providers. The stack has two entities and will offer a set of common interfaces ( unified health interfaces ) and a gateway ( Health Gateway ), that implements minimal aggregate functions.",
        "termsOfService": "http://catch.io/terms/",
        "contact": {
            "email": "uti@catch.io"
        },
        "version": "0.5"
    },
    "externalDocs": {
        "description": "Find out more about Swagger",
        "url": "http://swagger.io"
    },
    "servers": [
        {
            "url": "https://uti.ths.io/v1"
        },
        {
            "url": "http://uti.ths.io/v1"
        }
    ],
    "paths": {
        "/update/app": {
            "post": {
                "tags": [
                    "Beckn App Registry API"
                ],
                "requestBody": {
                    "description": "Update details of a telemedicne end user app on the stack. Upsert Operation.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "context": {
                                        "allOf": [
                                            {
                                                "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/core/schema/0.7.1/context.json"
                                            },
                                            {
                                                "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/healthcare/schema/0.5.0/header.json"
                                            }
                                        ]
                                    },
                                    "message": {
                                        "type": "object",
                                        "properties": {
                                            "app": {
                                                "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/healthcare/schema/0.5.0/telehealth_app.json"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Returns a success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "context": {
                                            "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/core/schema/0.7.1/context.json"
                                        },
                                        "message": {
                                            "type" : "object",
                                            "properties" : {
                                                "ack" : {
                                                    "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/core/schema/0.7.1/ack.json"
                                                }
                                            }
                                            
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/register/provider": {
            "post": {
                "tags": [
                    "Beckn Provider Registry API"
                ],
                "requestBody": {
                    "description": "Register an HSP",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type" : "object",
                                "properties" : {
                                    "provider": {
                                        "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/healthcare/schema/0.5.0/telehealth_provider.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returns a success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "context": {
                                            "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/core/schema/0.7.1/context.json"
                                        },
                                        "message": {
                                            "type" : "object",
                                            "properties" : {
                                                "ack" : {
                                                    "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/core/schema/0.7.1/ack.json"
                                                }
                                            }
                                            
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/update/provider": {
            "post": {
                "tags": [
                    "Beckn Provider Registry API"
                ],
                "requestBody": {
                    "description": "Update details of a telemedicne end user app on the stack. Upsert Operation.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "context": {
                                        "allOf": [
                                            {
                                                "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/core/schema/0.7.1/context.json"
                                            },
                                            {
                                                "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/healthcare/schema/0.5.0/header.json"
                                            }
                                        ]
                                    },
                                    "message": {
                                        "type": "object",
                                        "properties": {
                                            "app": {
                                                "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/healthcare/schema/0.5.0/telehealth_app.json"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Returns a success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "context": {
                                            "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/core/schema/0.7.1/context.json"
                                        },
                                        "message": {
                                            "type" : "object",
                                            "properties" : {
                                                "ack" : {
                                                    "$ref": "https://raw.githubusercontent.com/beckn/protocol-specifications/master/core/schema/0.7.1/ack.json"
                                                }
                                            }
                                            
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}